@font-face {
  font-family: "PlayfairDisplay";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PlayfairDisplayItalic";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Italic.ttf") format("ttf");
  // font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "PlayfairDisplayBold";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Bold.ttf") format("ttf");
  // font-weight: normal;
  font-style: bold;
}

@font-face {
  font-family: "UbuntuLight";
  src: url("../fonts/Ubuntu/Ubuntu-Light.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
