%PlayfairDisplay-Regular {
  font-family: "PlayfairDisplay", sans-serif;
  font-weight: 400;
}

%PlayfairDisplay-Italic {
  font-family: "PlayfairDisplayItalic", sans-serif;
  font-weight: 400;
}

%PlayfairDisplay-Bold {
  font-family: "PlayfairDisplayBold", sans-serif;
}

%Ubuntu-Light {
  font-family: "UbuntuLight", sans-serif;
  font-weight: 400;
}
