.images__block {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;

  &-wrapper {
    height: 670px;
    width: 100%;
  }

  &-img {
    width: 100%;
    height: 670px;
    object-fit: cover;
  }
}
